<h2>Insira seus dados:</h2><br>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" >
  <label for="floatingInputDisabled">Nome</label>
</div>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" >
  <label for="floatingInputDisabled">Primeira Nota</label>
</div>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" >
  <label for="floatingInputDisabled">Segunda Nota</label>
</div>

<button type="button" class="btn btn-dark" >Calcular</button><br><br>
